@font-face {
    font-family: mini-wakuwaku;
    src: url(fonts/mini-wakuwaku.otf);
}

@font-face {
    font-family: Honyaji;
    src: url("fonts/HonyaJi-Re.ttf");
    unicode-range: U+0020-007F, U+2190;
}

body {
    background-color: #d8e9f9;
    display: block;
    align-content: center;
}

#info {
    color: #ea5537;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
}

#title {
    font-family: mini-wakuwaku;
    text-align: center;
    color: #ea5537;
    font-size: xx-large;
    margin-top: 100px;
    margin-bottom: 10px;
}

#subTitle {
    font-family: Honyaji;
    color: #1e1915;
}

#imageLogo{
        position:relative;
        left: 0;
        right: 0;
        max-width: 40%;
        margin: 0 auto;
}

#games{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 960px;
}

.gameCard{
    min-width: 275px;
    min-height: 275px;
    margin: 20px;
    border-radius: 10%;
    background-color: rgb(236, 188, 129);
}

p{
    font-family: mini-wakuwaku;
    color: #1e1915;
}

* {
    margin: 0;
    padding:0;
}